.logo-box {
	width: 30%;
	max-width: 200px;
	height: 50px;
    min-height: 50px;
	margin: 0 auto;

    .logo {
    	height: 100%;
    	min-height: 100%;
    	width: 100%;
    	min-width: 100%;
		-moz-box-sizing: border-box;
    	box-sizing: border-box;
		background-clip: content-box;
		background-image: url('../images/ftactics-logo.svg');
		background-repeat: no-repeat;
		background-origin: content-box;
	    background-position: center;
	    background-size: contain;
    }
}

.form-wrapper {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.auth-links {
	margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	font-family: "Arial", sans-serif;

	.auth-link {
		text-decoration: none;
		color: #fff;
		padding-right: 15px;
	    padding-left: 15px;
	    max-width: 600px;
	    width: 80%;
	    border-radius: 4px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    font-weight: bold;
	    transition: opacity 0.3s ease;
	    -webkit-box-shadow: 0px 28px 50px 0px rgba(0,0,0,0.26);
		-moz-box-shadow: 0px 28px 50px 0px rgba(0,0,0,0.26);
		box-shadow: 0px 28px 50px 0px rgba(0,0,0,0.26);
	}

	.auth-link:nth-child(2) {
		z-index: 1;
	}

	.auth-link:hover {
		opacity: 0.8;
	}

	.login-link {
		background-color: $home-purple;
	}

	.register-link {
		background-color: $delete-red;
	}
}

@media only screen and (min-width: 768px) {
	.logo-box {
		padding-top: 20px;
	}

	.auth-links {
		.auth-link {
			height: 80px;
			font-size: 18px;
		}

		.login-link {
			margin-bottom: 20px;
		}
	}
}

@media only screen and (max-width: 850px) and (orientation: landscape) {
	.form-wrapper {
		position: relative;
		top: 0;
		left: 0;
		transform: none;
	}
}

@media only screen and (max-width: 767px) {
	.auth-links {
		.auth-link {
			height: 60px;
			font-size: 14px;
		}

		.login-link {
			margin-bottom: 10px;
		}
	}
}