#field {
	background-color: #fff;
	width: auto;
	height: auto;
	min-height: 1px;
	margin: 0 auto;
	position: absolute;
	top: 52%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url('../images/background-field.svg');
	background-size: contain;
	background-repeat: no-repeat;
}

.blue-player, .red-player, .football {
	position: absolute;
	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
}

.blue-player {
	background-color: #00E2DE;
	border-radius: 5px;
}

.red-player {
	background-color: #FFAA00;
	border-radius: 5px;
	z-index: 1;
}

.football {
	background-color: #FFF;
	border-radius: 100%;
	z-index: 2;
}