#field {
	background-color: #fff;
	width: auto;
	height: auto;
	min-height: 1px;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url('../images/background-field.svg');
	background-size: contain;
	background-repeat: no-repeat;
}

.blue-player, .red-player, .football {
	position: absolute;
	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
}

.blue-player {
	background-color: #00E2DE;
	border-radius: 5px;
}

.red-player {
	background-color: #FFAA00;
	border-radius: 5px;
	z-index: 1;
}

.football {
	background-color: #FFF;
	border-radius: 100%;
	z-index: 2;
}

.animation-toolbar {
	width: 100%;
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: center;
	//align-items: center;
	background-color: rgba(255,255,255,0.0);

	#play-animation, #reset-animation {
		display: inline-block;
	    cursor: pointer;
    	user-select: none;
    	margin: 0 5px;
    	border: none;
    	color: #fff;
		position: relative;
		border-radius: 45px;
		font-family: 'BebasNeue', 'Arial', sans-serif;
		outline: none;
	}

	.play-button {
		background-color: #47855A;
	}

	.pause-button {
		background-color: #8C271E;
	}

	#reset-animation {
		background-color: #415373;
	}
}

@media only screen and (min-width: 768px) {
    .animation-toolbar {
		height: 70px;

		#play-animation, #reset-animation{
			height: 50px;
			width: 200px;
			font-size: 1.5rem;
		}

		#play-animation {
			margin-right: 30px;
		}
	}
}


@media only screen and (min-width: 1025px) {
    .animation-toolbar {
		height: 80px;

		#play-animation, #reset-animation {
			height: 60px;
		}
	}
}

@media only screen and (max-width: 767px) {
    .animation-toolbar {
		height: 60px;

		#play-animation, #reset-animation {
			height: 40px;
			width: 100px;
			font-size: 1.1rem;
		}

		#play-animation {
			margin-right: 20px;
		}
	}
}