.form-wrapper {
	font-family: "Arial", sans-serif;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;

	form {
		background-color: #fff;
		color: $background-blue;
		width: 100%;
		position: relative;
		-webkit-box-shadow: 0px 28px 50px 0px rgba(0,0,0,0.56);
		-moz-box-shadow: 0px 28px 50px 0px rgba(0,0,0,0.56);
		box-shadow: 0px 28px 50px 0px rgba(0,0,0,0.56);
	    border-radius: 4px;
	    box-sizing: border-box;

		.form-content {
			background-color: #fff;
			border-radius: 4px 4px 0 0;
		}

		.back-btn {
			user-select: none;
			position: relative;
    		margin-bottom: 20px;
			left: 28px;
		    height: 36px;
		    display: flex;
		    align-items: center;

		    img {
		    	height: 50%;
		    }
	    }

		header {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			.or {
				color: #8B96A9;
				margin-left: 15px;
			}

			h1 {
				margin: 0;
				display: inline-block;
				width: 100%;
			    padding-right: 25px;
			    padding-left: 25px;
			    box-sizing: border-box;
			    text-align: left;
			}
		}

		.form-element {
			width: 100%;
			padding-right: 25px;
    		padding-left: 25px;
    		box-sizing: border-box;

    		.form-label {
			    display: inline-block;
			    margin-bottom: 8px;
			    font-weight: 500;
    		}

    		input {
    			width: 100%;
    			padding: 10px 14px;
    			box-sizing: border-box;
    			color: $background-blue;
    			border: 1px solid #8A95A8;
    			border-radius: 4px;
    		}

    		input::placeholder {
    			color: #A6AEBD;
    		}

    		input:focus {
    			border-color: $background-blue-light;
    			outline: none;
    		}

    		.form-invalid-feedback {
    			display: inline-block;
    			margin-top: 9px;
    			color: $error-red;
    		}
		}

		.other-actions-box {
			width: 100%;
			padding-right: 25px;
    		padding-left: 25px;
    		box-sizing: border-box;

    		.remember {
    			margin-bottom: 15px;
    			user-select: none;
    		}

    		.login {
    			margin-left: 3px;

    			a, a:visited {
    				color: rgba(0,40,112,1);
    			}
    		}
		}

		.submit-button {
			width: 100%;
			display: block;
			border: none;
			background-color: $background-blue-light;
			color: #fff;
			font-weight: bold;
			border-radius: 0 0 2px 2px;
			cursor: pointer;
			border-radius: 44px;
		}

		.submit-box {
			padding: 25px 25px 40px 25px;

			.form-message {
				margin-top: 25px;
			    display: block;
			    text-align: center;

			    .page-link, .page-link:visited {
					color: rgba(0,40,112,1);
				}
			}
		}

		.submit-button:focus {outline:0;}
	}

	.profile-form {
		.submit-button {
			font-family: 'BebasNeue', 'Arial', sans-serif;
		}
	}
}

@media only screen and (min-width: 768px) {
	.auth-links {
		.auth-link {
			height: 80px;
			font-size: 18px;
		}

		.login-link {
			margin-bottom: 20px;
		}
	}

	.form-wrapper form {
	    padding: 0 25px;

		.back-btn {
			top: 40px;
		}

		header {
			padding-top: 40px;
			padding-bottom: 15px;

			h1 {
				font-size: 2.5rem;
			}
		}

		.form-element {
			padding-bottom: 20px;

			.form-label {
				font-size: 1rem;
			}

			input {
				font-size: 1rem;
				height: 50px;
				line-height: 50px;
			}
		}

		.submit-box {
			.form-message {
				font-size: 1rem;
			}
		}

		.other-actions-box {
		    font-size: 1rem;
		}

		.input-elements {
			padding-top: 20px;
		}

		.submit-button {
			height: 60px;
			font-size: 1.1rem;
		}
	}

	.profile-form .submit-box {
		.submit-button {
			font-size: 1.3rem;
			font-weight: 500;
		}
	}
}

@media only screen and (min-width: 1025px) {
	.profile-form .submit-box {
		.submit-button {
			font-size: 1.5rem;
			font-weight: 500;
		}
	}
}

@media only screen and (max-width: 767px) {
	.form-wrapper form {
		.back-btn {
			top: 36px;
		}

		header {
			padding-top: 30px;

			h1 {
				font-size: 1.5rem;
			}
		}

		.form-element {
			padding-bottom: 15px;

			.form-label {
				font-size: 0.8rem;
			}

			input {
				font-size: 0.8rem;
				height: 40px;
				line-height: 40px;
			}
		}

		.other-actions-box {
		    font-size: 0.8rem;
		}

		.input-elements {
			padding-top: 15px;
			max-height: 240px;
		    overflow-y: scroll;
		}

		.submit-button {
			height: 50px;
			font-size: 0.8rem;
		}

		.submit-box {
			.form-message {
				font-size: 0.8rem;
			}
		}
	}

	.profile-form .submit-box {
		.submit-button {
			font-size: 1.1rem;
			font-weight: 500;
		}
	}

	.auth-links {
		.auth-link {
			height: 40px;
			font-size: 14px;
		}

		.login-link {
			margin-bottom: 10px;
		}
	}
}

@media only screen and (max-width: 320px) {
	.form-wrapper form {
		header {
			padding-top: 25px;

			h1 {
				font-size: 1.3rem;
			}
		}

		.form-element {
			padding-bottom: 10px;

			.form-label {
				font-size: 0.7rem;
			}

			input {
				font-size: 0.7rem;
				height: 35px;
				line-height: 35px;
			}
		}

		.input-elements {
			padding-top: 10px;
		}

		.submit-button {
			height: 35px;
			font-size: 0.7rem;
		}

		.submit-box {
			.form-message {
				font-size: 0.7rem;
			}
		}
	}

	.profile-form .submit-box {
		.submit-button {
			font-size: 1rem;
			font-weight: 500;
		}
	}
}