.navigation {
	position: fixed;
    width: 100%;
    background-color: $background-blue;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    header {
        position: absolute;
    	margin: 0;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            margin: 0;
            text-transform: uppercase;
        }
    }

    .back-box, .save-box, .delete-box, .settings-box {
		min-width: 20%;
        z-index: 1;
    }

    header, .back-box, .save-box, .delete-box, .settings-box {
        height: 100%;
    }

    .back-box {
    	display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 15px;

        a {
            height: 100%;
            display: flex;
            cursor: pointer;
            align-items: center;

            img {
                height: 50%;
            }
        }
    }

    .save-box, .delete-box, .settings-box {
    	display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 15px;

        #save-btn, #delete-btn {
            height: 60%;
            text-align: center;
            color: #fff;
            border: none;
            border-radius: 44px;
            font-family: 'BebasNeue', 'Arial', sans-serif;
            width: 100%;
            cursor: pointer;
        }

        #save-btn {
            background: -webkit-linear-gradient(left, rgba(0,246,241,1) 0%, rgba(0,109,107,1) 100%);
            background: -o-linear-gradient(left, rgba(0,246,241,1) 0%, rgba(0,109,107,1) 100%);
            background: linear-gradient(to right, rgba(0,246,241,1) 0%, rgba(0,109,107,1) 100%);
            line-height: 60%;
        }

        #delete-btn {
            text-decoration: none;
            background: -webkit-linear-gradient(top right, rgba(255,0,90,1) 0%, rgba(119,0,42,1) 100%);
            background: -o-linear-gradient(top right, rgba(255,0,90,1) 0%, rgba(119,0,42,1) 100%);
            background: linear-gradient(to bottom left, rgba(255,0,90,1) 0%, rgba(119,0,42,1) 100%);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .settings-box {
        img {
            height: 50%;
            cursor: pointer;
        }
    }
}

@media only screen and (min-width: 768px) {
    .navigation {
        height: 64px;

        h1 {
            font-size: 2.4rem;
        }

        #save-btn, #delete-btn {
            font-size: 1.3rem;
        }
    }
}

@media only screen and (min-width: 1025px) {
    .navigation {
    	height: 74px;

        #save-btn, #delete-btn {
            font-size: 1.5rem;
        }
    }
}

@media only screen and (max-width: 767px) {
    .navigation {
    	height: 44px;

    	h1 {
    		font-size: 1.8rem;
    	}

        #save-btn, #delete-btn {
            font-size: 1.1rem;
        }
    }
}